{% extends "base.html" %}

{% block title %}Lazyweb - Index{% endblock %}

{% block content %}

<div id="app">
  <h1><a href="/">Game</a></h1>

  This game's data: {{ JSON.stringify(data) }}
  <br><br>
  <input type="text" placeholder="{'test': 123}" v-model="savedata">
  <button @click="request('save', {'data': savedata})">Save on server</button><br><br>

  <a v-if="code" :href="'/'+code">/{{ code }}</a>

</div>

{% endblock %}

{% block scripts %}

<script>

var app = new Vue({
  el: '#app',
  data: {
    data: %% data|tojson %%,
    savedata: "",
    code: ""
  },
	methods: {
    request(path, data) {
      axios.post("/"+path, data)
      .then(function (response) {
        for (const [key, value] of Object.entries(response.data)) {
          app[key] = value
        }
      })
    },
	}
})

</script>

{% endblock %}
